<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ToDo Application</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" crossorigin="anonymous"></script>
		<script>
			console.log(window.location.host);
			const api = axios.create({
				headers: {
					'Access-Control-Allow-Origin': '*',
				},
				baseURL: window.location.host + '/api',
			});
		</script>
	</head>
	<body class="bg-green-900 h-screen min-h-[900px]">
		<div id="root" class="h-full w-full"></div>

		<script type="text/babel" src="./index.js"></script>
	</body>
</html>
